In [2]:
import os

In [3]:
os.listdir("earnings_project/data_raw/capitaline")

['fundamental']

In [5]:
os.listdir("earnings_project/data_raw/capitaline/fundamental")

['AVENUE.xls',
 'BATA.xls',
 'BLUE STAR.xls',
 'BRITANNIA.xls',
 'COLGATE.xls',
 'CROMPTON.xls',
 'DABUR.xls',
 'EMAMI.xls',
 'GODREJ.xls',
 'HAVELLS.xls',
 'HUL.xls',
 'ITC.xls',
 'JUBILANT.xls',
 'MARICO.xls',
 'NESTLE.xls',
 'PAGE.xls',
 'PNG.xls',
 'RELAXO.xls',
 'SOP_EarningsSurprisePredn (2).docx',
 'TATA CONSUMER.xls',
 'TITAN.xls',
 'TRENT.xls',
 'UNITED SPIRITS.xls',
 'VOLTAS.xls',
 'WESTLIFE.xls',
 'WHIRLPOOL.xls']

In [6]:
import os

RAW_DIR = "earnings_project/data_raw/capitaline/fundamental/"
os.listdir(RAW_DIR)

['AVENUE.xls',
 'BATA.xls',
 'BLUE STAR.xls',
 'BRITANNIA.xls',
 'COLGATE.xls',
 'CROMPTON.xls',
 'DABUR.xls',
 'EMAMI.xls',
 'GODREJ.xls',
 'HAVELLS.xls',
 'HUL.xls',
 'ITC.xls',
 'JUBILANT.xls',
 'MARICO.xls',
 'NESTLE.xls',
 'PAGE.xls',
 'PNG.xls',
 'RELAXO.xls',
 'SOP_EarningsSurprisePredn (2).docx',
 'TATA CONSUMER.xls',
 'TITAN.xls',
 'TRENT.xls',
 'UNITED SPIRITS.xls',
 'VOLTAS.xls',
 'WESTLIFE.xls',
 'WHIRLPOOL.xls']

In [9]:
import pandas as pd

file = RAW_DIR + "HUL.xls"
xls = pd.ExcelFile(file, engine="xlrd")
xls.sheet_names

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'<html xm'

In [10]:
file = RAW_DIR + "HUL.xlsx"
xls = pd.ExcelFile(file)
xls.sheet_names

['Finance']

In [11]:
df = pd.read_excel(file, sheet_name="Finance")
df.head()

,Working Results >>Quarterly Indexing>>Hindustan Unilever Ltd,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Year,202509,202506.0,202503.0,202412.0,202409.0,202406.0,202403.0,202312.0,202309.0,...,201803.0,201712.0,201709.0,201706.0,201703.0,201612.0,201609.0,201606.0,201603.0,201512.00
1,Gross Sales,15418,15747.0,15000.0,15195.0,15319.0,15166.0,14693.0,14928.0,15027.0,...,9003.0,8323.0,8199.0,9094.0,8773.0,8124.0,8335.0,8662.0,8193.0,8226.55
2,Excise Duty,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,693.0,673.0,612.0,638.0,675.0,608.0,620.73
3,Net Sales,15418,15747.0,15000.0,15195.0,15319.0,15166.0,14693.0,14928.0,15027.0,...,9003.0,8323.0,8199.0,8401.0,8100.0,7512.0,7697.0,7987.0,7585.0,7605.82
4,Other Income,412,247.0,299.0,821.0,309.0,257.0,220.0,285.0,283.0,...,100.0,158.0,250.0,117.0,87.0,242.0,273.0,223.0,154.0,181.98

In [12]:
df.iloc[:, 0]

0                                          Year
1                                   Gross Sales
2                                   Excise Duty
3                                     Net Sales
4                                  Other Income
5                        Other Operating Income
6                                  Total Income
7                            Total Expenditure
8                                         PBIDT
9                                      Interest
10                                         PBDT
11                                 Depreciation
12                                          PBT
13                                          Tax
14                           Fringe Benefit Tax
15                                 Deferred Tax
16                    Reported Profit After Tax
17                        Extra-ordinary Items
18    Adjusted Profit After Extra-ordinary item
19                                       Equity
20                                   Face Value
21                             EPS (Unit Curr.)
22                       EPS (Adj) (Unit Curr.)
23                         EPS TTM (Unit Curr.)
24                                    PBIDTM(%)
25                                     PBDTM(%)
26                                      PATM(%)
27                                 Disclaimer:-
Name: Working Results >>Quarterly Indexing>>Hindustan Unilever Ltd, dtype: object

In [13]:
rows_we_need = [
    "Net Sales",
    "PBIDT",
    "Reported Profit After Tax",
    "EPS (Adj) (Unit Curr.)",
    "PBIDTM(%)",
    "PATM(%)"
]

for r in rows_we_need:
    print(r, "→", r in df.iloc[:, 0].values)

Net Sales → True
PBIDT → True
Reported Profit After Tax → True
EPS (Adj) (Unit Curr.) → True
PBIDTM(%) → True
PATM(%) → True

In [14]:
df_core = df[df.iloc[:, 0].isin([
    "Net Sales",
    "PBIDT",
    "Reported Profit After Tax",
    "EPS (Adj) (Unit Curr.)",
    "PBIDTM(%)",
    "PATM(%)"
])]

df_core

,Working Results >>Quarterly Indexing>>Hindustan Unilever Ltd,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
3,Net Sales,15418,15747.00,15000.00,15195.00,15319.00,15166.00,14693.00,14928.00,15027.00,...,9003.00,8323.00,8199.00,8401.00,8100.00,7512.00,7697.00,7987.00,7585.00,7605.82
8,PBIDT,3975,3678.00,3742.00,4391.00,3940.00,3815.00,3638.00,3795.00,3972.00,...,2084.00,1811.00,1922.00,1966.00,1733.00,1591.00,1676.00,1814.00,1624.00,1495.64
16,Reported Profit After Tax,2690,2732.00,2493.00,3001.00,2612.00,2538.00,2406.00,2519.00,2717.00,...,1351.00,1326.00,1276.00,1283.00,1183.00,1038.00,1096.00,1174.00,1114.00,971.66
22,EPS (Adj) (Unit Curr.),11.26,11.44,10.44,12.56,10.94,10.62,10.08,10.54,11.37,...,6.14,6.03,5.80,5.83,5.38,4.72,4.98,5.33,5.07,4.42
24,PBIDTM(%),25.78,23.36,24.95,28.90,25.72,25.15,24.76,25.42,26.43,...,23.15,21.76,23.44,23.40,21.40,21.18,21.77,22.71,21.41,19.66
26,PATM(%),17.45,17.35,16.62,19.75,17.05,16.73,16.38,16.87,18.08,...,15.01,15.93,15.56,15.27,14.60,13.82,14.24,14.70,14.69,12.78

In [15]:
df_core = df_core.rename(columns={df_core.columns[0]: "metric"})
df_core.head()

,metric,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
3,Net Sales,15418,15747.00,15000.00,15195.00,15319.00,15166.00,14693.00,14928.00,15027.00,...,9003.00,8323.00,8199.00,8401.00,8100.00,7512.00,7697.00,7987.00,7585.00,7605.82
8,PBIDT,3975,3678.00,3742.00,4391.00,3940.00,3815.00,3638.00,3795.00,3972.00,...,2084.00,1811.00,1922.00,1966.00,1733.00,1591.00,1676.00,1814.00,1624.00,1495.64
16,Reported Profit After Tax,2690,2732.00,2493.00,3001.00,2612.00,2538.00,2406.00,2519.00,2717.00,...,1351.00,1326.00,1276.00,1283.00,1183.00,1038.00,1096.00,1174.00,1114.00,971.66
22,EPS (Adj) (Unit Curr.),11.26,11.44,10.44,12.56,10.94,10.62,10.08,10.54,11.37,...,6.14,6.03,5.80,5.83,5.38,4.72,4.98,5.33,5.07,4.42
24,PBIDTM(%),25.78,23.36,24.95,28.90,25.72,25.15,24.76,25.42,26.43,...,23.15,21.76,23.44,23.40,21.40,21.18,21.77,22.71,21.41,19.66

In [16]:
df_long = df_core.melt(
    id_vars="metric",
    var_name="quarter_raw",
    value_name="value"
)

df_long.head()

                      metric quarter_raw  value
0                  Net Sales  Unnamed: 1  15418
1                      PBIDT  Unnamed: 1   3975
2  Reported Profit After Tax  Unnamed: 1   2690
3     EPS (Adj) (Unit Curr.)  Unnamed: 1  11.26
4                  PBIDTM(%)  Unnamed: 1  25.78

In [17]:
year_row = df[df.iloc[:, 0] == "Year"]
year_row

,Working Results >>Quarterly Indexing>>Hindustan Unilever Ltd,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Year,202509,202506.0,202503.0,202412.0,202409.0,202406.0,202403.0,202312.0,202309.0,...,201803.0,201712.0,201709.0,201706.0,201703.0,201612.0,201609.0,201606.0,201603.0,201512.0

In [18]:
# create mapping from column name to actual quarter code
quarter_map = {}

for col in year_row.columns[1:]:
    quarter_map[col] = int(year_row[col].values[0])

quarter_map

{'Unnamed: 1': 202509,
 'Unnamed: 2': 202506,
 'Unnamed: 3': 202503,
 'Unnamed: 4': 202412,
 'Unnamed: 5': 202409,
 'Unnamed: 6': 202406,
 'Unnamed: 7': 202403,
 'Unnamed: 8': 202312,
 'Unnamed: 9': 202309,
 'Unnamed: 10': 202306,
 'Unnamed: 11': 202303,
 'Unnamed: 12': 202212,
 'Unnamed: 13': 202209,
 'Unnamed: 14': 202206,
 'Unnamed: 15': 202203,
 'Unnamed: 16': 202112,
 'Unnamed: 17': 202109,
 'Unnamed: 18': 202106,
 'Unnamed: 19': 202103,
 'Unnamed: 20': 202012,
 'Unnamed: 21': 202009,
 'Unnamed: 22': 202006,
 'Unnamed: 23': 202003,
 'Unnamed: 24': 201912,
 'Unnamed: 25': 201909,
 'Unnamed: 26': 201906,
 'Unnamed: 27': 201903,
 'Unnamed: 28': 201812,
 'Unnamed: 29': 201809,
 'Unnamed: 30': 201806,
 'Unnamed: 31': 201803,
 'Unnamed: 32': 201712,
 'Unnamed: 33': 201709,
 'Unnamed: 34': 201706,
 'Unnamed: 35': 201703,
 'Unnamed: 36': 201612,
 'Unnamed: 37': 201609,
 'Unnamed: 38': 201606,
 'Unnamed: 39': 201603,
 'Unnamed: 40': 201512}

In [19]:
df_long["quarter_code"] = df_long["quarter_raw"].map(quarter_map)
df_long.head()

                      metric quarter_raw  value  quarter_code
0                  Net Sales  Unnamed: 1  15418        202509
1                      PBIDT  Unnamed: 1   3975        202509
2  Reported Profit After Tax  Unnamed: 1   2690        202509
3     EPS (Adj) (Unit Curr.)  Unnamed: 1  11.26        202509
4                  PBIDTM(%)  Unnamed: 1  25.78        202509

In [20]:
def code_to_quarter(code):
    year = int(code // 100)
    month = int(code % 100)

    if month == 3:
        return f"{year}Q1"
    elif month == 6:
        return f"{year}Q2"
    elif month == 9:
        return f"{year}Q3"
    elif month == 12:
        return f"{year}Q4"
    else:
        return None

df_long["quarter"] = df_long["quarter_code"].apply(code_to_quarter)
df_long.head()

                      metric quarter_raw  value  quarter_code quarter
0                  Net Sales  Unnamed: 1  15418        202509  2025Q3
1                      PBIDT  Unnamed: 1   3975        202509  2025Q3
2  Reported Profit After Tax  Unnamed: 1   2690        202509  2025Q3
3     EPS (Adj) (Unit Curr.)  Unnamed: 1  11.26        202509  2025Q3
4                  PBIDTM(%)  Unnamed: 1  25.78        202509  2025Q3

In [21]:
df_final_hul = df_long.pivot_table(
    index="quarter",
    columns="metric",
    values="value",
    aggfunc="first"
).reset_index()

df_final_hul

metric,quarter,EPS (Adj) (Unit Curr.),Net Sales,PATM(%),PBIDT,PBIDTM(%),Reported Profit After Tax
0,2015Q4,4.42,7605.82,12.78,1495.64,19.66,971.66
1,2016Q1,5.07,7585.0,14.69,1624.0,21.41,1114.0
2,2016Q2,5.33,7987.0,14.7,1814.0,22.71,1174.0
3,2016Q3,4.98,7697.0,14.24,1676.0,21.77,1096.0
4,2016Q4,4.72,7512.0,13.82,1591.0,21.18,1038.0
5,2017Q1,5.38,8100.0,14.6,1733.0,21.4,1183.0
6,2017Q2,5.83,8401.0,15.27,1966.0,23.4,1283.0
7,2017Q3,5.8,8199.0,15.56,1922.0,23.44,1276.0
8,2017Q4,6.03,8323.0,15.93,1811.0,21.76,1326.0
9,2018Q1,6.14,9003.0,15.01,2084.0,23.15,1351.0
10,2018Q2,6.94,9356.0,16.34,2327.0,24.87,1529.0
11,2018Q3,6.93,9138.0,16.69,2289.0,25.05,1525.0
12,2018Q4,6.56,9357.0,15.43,2090.0,22.34,1444.0
13,2019Q1,6.99,9809.0,15.68,2368.0,24.14,1538.0
14,2019Q2,7.98,9984.0,17.58,2801.0,28.05,1755.0
15,2019Q3,8.4,9708.0,19.04,2576.0,26.53,1848.0
16,2019Q4,7.35,9696.0,16.67,2486.0,25.64,1616.0
17,2020Q1,6.91,8885.0,17.1,2273.0,25.58,1519.0
18,2020Q2,7.88,10406.0,18.08,2682.0,25.77,1881.0
19,2020Q3,8.41,11276.0,17.82,2939.0,26.06,2009.0
20,2020Q4,8.05,11682.0,16.44,2909.0,24.9,1921.0
21,2021Q1,8.97,11947.0,17.94,3080.0,25.78,2143.0
22,2021Q2,8.63,11730.0,17.57,2888.0,24.62,2061.0
23,2021Q3,9.16,12516.0,17.47,3245.0,25.93,2187.0
24,2021Q4,9.39,12900.0,17.39,3304.0,25.61,2243.0
25,2022Q1,9.74,13190.0,17.64,3425.0,25.97,2327.0
26,2022Q2,9.58,14016.0,16.33,3372.0,24.06,2289.0
27,2022Q3,10.95,14514.0,18.02,3464.0,23.87,2616.0
28,2022Q4,10.5,14986.0,16.72,3663.0,24.44,2505.0
29,2023Q1,10.68,14638.0,17.43,3711.0,25.35,2552.0
30,2023Q2,10.35,14931.0,16.56,3669.0,24.57,2472.0
31,2023Q3,11.37,15027.0,18.08,3972.0,26.43,2717.0
32,2023Q4,10.54,14928.0,16.87,3795.0,25.42,2519.0
33,2024Q1,10.08,14693.0,16.38,3638.0,24.76,2406.0
34,2024Q2,10.62,15166.0,16.73,3815.0,25.15,2538.0
35,2024Q3,10.94,15319.0,17.05,3940.0,25.72,2612.0
36,2024Q4,12.56,15195.0,19.75,4391.0,28.9,3001.0
37,2025Q1,10.44,15000.0,16.62,3742.0,24.95,2493.0
38,2025Q2,11.44,15747.0,17.35,3678.0,23.36,2732.0
39,2025Q3,11.26,15418,17.45,3975,25.78,2690

In [22]:
df_final_hul["company"] = "HUL"
df_final_hul.head()

metric,quarter,EPS (Adj) (Unit Curr.),Net Sales,PATM(%),PBIDT,PBIDTM(%),Reported Profit After Tax,company
0,2015Q4,4.42,7605.82,12.78,1495.64,19.66,971.66,HUL
1,2016Q1,5.07,7585.0,14.69,1624.0,21.41,1114.0,HUL
2,2016Q2,5.33,7987.0,14.7,1814.0,22.71,1174.0,HUL
3,2016Q3,4.98,7697.0,14.24,1676.0,21.77,1096.0,HUL
4,2016Q4,4.72,7512.0,13.82,1591.0,21.18,1038.0,HUL

In [23]:
df_final_hul.to_csv("HUL_quarterly_clean.csv", index=False)

In [24]:
def process_one_company(file_path, company_name):
    df = pd.read_excel(file_path, sheet_name="Finance")

    # keep needed rows
    df_core = df[df.iloc[:, 0].isin([
        "Net Sales",
        "PBIDT",
        "Reported Profit After Tax",
        "EPS (Adj) (Unit Curr.)",
        "PBIDTM(%)",
        "PATM(%)",
        "Year"
    ])]

    # rename first column
    df_core = df_core.rename(columns={df_core.columns[0]: "metric"})

    # extract year row
    year_row = df_core[df_core["metric"] == "Year"]

    quarter_map = {}
    for col in year_row.columns[1:]:
        quarter_map[col] = int(year_row[col].values[0])

    # drop year row
    df_core = df_core[df_core["metric"] != "Year"]

    # melt
    df_long = df_core.melt(
        id_vars="metric",
        var_name="quarter_raw",
        value_name="value"
    )

    # map quarters
    df_long["quarter_code"] = df_long["quarter_raw"].map(quarter_map)

    def code_to_quarter(code):
        year = int(code // 100)
        month = int(code % 100)
        if month == 3:
            return f"{year}Q1"
        elif month == 6:
            return f"{year}Q2"
        elif month == 9:
            return f"{year}Q3"
        elif month == 12:
            return f"{year}Q4"
        else:
            return None

    df_long["quarter"] = df_long["quarter_code"].apply(code_to_quarter)

    # pivot
    df_final = df_long.pivot_table(
        index="quarter",
        columns="metric",
        values="value",
        aggfunc="first"
    ).reset_index()

    df_final["company"] = company_name

    return df_final

In [25]:
df_test = process_one_company(
    RAW_DIR + "HUL.xlsx",
    "HUL"
)

df_test.head()

metric,quarter,EPS (Adj) (Unit Curr.),Net Sales,PATM(%),PBIDT,PBIDTM(%),Reported Profit After Tax,company
0,2015Q4,4.42,7605.82,12.78,1495.64,19.66,971.66,HUL
1,2016Q1,5.07,7585.0,14.69,1624.0,21.41,1114.0,HUL
2,2016Q2,5.33,7987.0,14.7,1814.0,22.71,1174.0,HUL
3,2016Q3,4.98,7697.0,14.24,1676.0,21.77,1096.0,HUL
4,2016Q4,4.72,7512.0,13.82,1591.0,21.18,1038.0,HUL

In [26]:
import pandas as pd
import os

all_companies = []

for file in os.listdir(RAW_DIR):
    if file.endswith(".xlsx"):
        company = file.replace(".xlsx", "")
        df_company = process_one_company(RAW_DIR + file, company)
        all_companies.append(df_company)

fundamentals_all = pd.concat(all_companies, ignore_index=True)
fundamentals_all.head()

metric,quarter,EPS (Adj) (Unit Curr.),Net Sales,PATM(%),PBIDT,PBIDTM(%),Reported Profit After Tax,company
0,2016Q1,0.0,2212.71,2.96,154.58,6.99,65.56,AVENUE
1,2016Q2,0.0,2652.39,4.47,239.66,9.04,118.45,AVENUE
2,2016Q3,0.0,2778.73,4.16,240.89,8.67,115.65,AVENUE
3,2016Q4,0.0,3339.36,4.55,296.79,8.89,151.88,AVENUE
4,2017Q1,1.69,3110.64,3.11,217.6,7.0,96.67,AVENUE

In [27]:
fundamentals_all["company"].nunique()

25

In [29]:
fundamentals_all.to_csv(
    "fundamentals_quarterly.csv",
    index=False
)

In [30]:
os.getcwd()

'C:\\Users\\acer\\anaconda_projects\\c83de632-c03d-433d-a11d-5c3c04480b44'

In [31]:
yf.download("HINDUNILVR.NS", period="5d")

NameError: name 'yf' is not defined