In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import os

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\acer\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: pandas>=1.3.0 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (2.3.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: requests>=2.31 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (4.5.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (4.13.5)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\acer\anaconda3\lib\site-packages (from yfinance) (16.0)
Requirement already satisfied: cffi>=1.12.0 in c:\users\acer\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\acer\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.11.12)
Requirement already satisfied: soupsieve>1.2 in c:\users\acer\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\acer\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.15.0)
Requirement already satisfied: pycparser in c:\users\acer\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.23)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\acer\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\acer\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.5.0)

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import os

In [4]:
yf.download("HINDUNILVR.NS", period="5d")

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS
Date,,,,,
2026-01-28,2378.399902,2420.199951,2340.600098,2403.100098,1797593
2026-01-29,2352.600098,2374.699951,2312.000000,2370.500000,1478536
2026-01-30,2373.000000,2385.000000,2340.000000,2341.000000,2090462
2026-02-02,2357.300049,2360.000000,2303.000000,2356.100098,1375089
2026-02-03,2368.600098,2399.899902,2343.300049,2390.000000,1553270

In [6]:
fundamentals = pd.read_csv(
    "fundamentals_quarterly.csv"
)

In [7]:
fundamentals = pd.read_csv("fundamentals_quarterly.csv")
fundamentals.head()

,quarter,EPS (Adj) (Unit Curr.),Net Sales,PATM(%),PBIDT,PBIDTM(%),Reported Profit After Tax,company
0,2016Q1,0.00,2212.71,2.96,154.58,6.99,65.56,AVENUE
1,2016Q2,0.00,2652.39,4.47,239.66,9.04,118.45,AVENUE
2,2016Q3,0.00,2778.73,4.16,240.89,8.67,115.65,AVENUE
3,2016Q4,0.00,3339.36,4.55,296.79,8.89,151.88,AVENUE
4,2017Q1,1.69,3110.64,3.11,217.60,7.00,96.67,AVENUE

In [8]:
fundamentals.columns

Index(['quarter', 'EPS (Adj) (Unit Curr.)', 'Net Sales', 'PATM(%)', 'PBIDT',
       'PBIDTM(%)', 'Reported Profit After Tax', 'company'],
      dtype='object')

In [9]:
fundamentals = fundamentals.rename(columns={
    "EPS (Adj) (Unit Curr.)": "eps",
    "Net Sales": "revenue",
    "PBIDT": "ebitda",
    "Reported Profit After Tax": "pat",
    "PBIDTM(%)": "ebitda_margin",
    "PATM(%)": "pat_margin"
})

fundamentals.head()

  quarter   eps  revenue  pat_margin  ebitda  ebitda_margin     pat company
0  2016Q1  0.00  2212.71        2.96  154.58           6.99   65.56  AVENUE
1  2016Q2  0.00  2652.39        4.47  239.66           9.04  118.45  AVENUE
2  2016Q3  0.00  2778.73        4.16  240.89           8.67  115.65  AVENUE
3  2016Q4  0.00  3339.36        4.55  296.79           8.89  151.88  AVENUE
4  2017Q1  1.69  3110.64        3.11  217.60           7.00   96.67  AVENUE

In [10]:
ticker_map = {
    "HUL": "HINDUNILVR.NS",
    "ITC": "ITC.NS",
    "NESTLE": "NESTLEIND.NS",
    "BRITANNIA": "BRITANNIA.NS",
    "DABUR": "DABUR.NS",
    "MARICO": "MARICO.NS",
    "GODREJ": "GODREJCP.NS",
    "COLGATE": "COLPAL.NS",
    "EMAMI": "EMAMILTD.NS",
    "TATACONSUMER": "TATACONS.NS",
    "PG": "PGHH.NS",
    "AVENUE": "DMART.NS",
    "TRENT": "TRENT.NS",
    "TITAN": "TITAN.NS",
    "PAGE": "PAGEIND.NS",
    "BATA": "BATAINDIA.NS",
    "RELAXO": "RELAXO.NS",
    "JUBLFOOD": "JUBLFOOD.NS",
    "WESTLIFE": "WESTLIFE.NS",
    "VOLTAS": "VOLTAS.NS",
    "HAVELLS": "HAVELLS.NS",
    "CROMPTON": "CROMPTON.NS",
    "WHIRLPOOL": "WHIRLPOOL.NS",
    "BLUESTAR": "BLUESTARCO.NS",
    "TATASTEEL": "TATASTEEL.NS"  # if included
}

len(ticker_map)

25

In [11]:
ticker = ticker_map["HUL"]

price = yf.download(
    ticker,
    start="2014-01-01",
    end="2025-01-01",
    progress=False
)

price.head()

Price,Close,High,Low,Open,Volume
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS
Date,,,,,
2014-01-01,468.341400,470.018910,465.845662,466.950367,251204
2014-01-02,460.199554,471.123545,457.090058,467.236725,531660
2014-01-03,462.327026,464.290913,456.639985,458.235637,1018173
2014-01-06,461.099640,464.618225,458.399333,463.963613,603727
2014-01-07,457.376465,463.063507,454.962535,460.690481,605461

In [17]:
price.index

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-06',
               '2014-01-07', '2014-01-08', '2014-01-09', '2014-01-10',
               '2014-01-13', '2014-01-14',
               ...
               '2024-12-17', '2024-12-18', '2024-12-19', '2024-12-20',
               '2024-12-23', '2024-12-24', '2024-12-26', '2024-12-27',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', name='Date', length=2711, freq=None)

In [16]:
price["ret"] = price["Adj Close"].pct_change()
price.head()

KeyError: 'Adj Close'

In [18]:
price.columns

MultiIndex([( 'Close', 'HINDUNILVR.NS'),
            (  'High', 'HINDUNILVR.NS'),
            (   'Low', 'HINDUNILVR.NS'),
            (  'Open', 'HINDUNILVR.NS'),
            ('Volume', 'HINDUNILVR.NS')],
           names=['Price', 'Ticker'])

In [19]:
price["ret"] = price["Close"].pct_change()
price.head()

Price,Close,High,Low,Open,Volume,ret
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,
Date,,,,,,
2014-01-01,468.341400,470.018910,465.845662,466.950367,251204,NaN
2014-01-02,460.199554,471.123545,457.090058,467.236725,531660,-0.017384
2014-01-03,462.327026,464.290913,456.639985,458.235637,1018173,0.004623
2014-01-06,461.099640,464.618225,458.399333,463.963613,603727,-0.002655
2014-01-07,457.376465,463.063507,454.962535,460.690481,605461,-0.008075

In [20]:
price["vol_30d"] = price["ret"].rolling(30).std()
price.head()

Price,Close,High,Low,Open,Volume,ret,vol_30d
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,,
Date,,,,,,,
2014-01-01,468.341400,470.018910,465.845662,466.950367,251204,NaN,NaN
2014-01-02,460.199554,471.123545,457.090058,467.236725,531660,-0.017384,NaN
2014-01-03,462.327026,464.290913,456.639985,458.235637,1018173,0.004623,NaN
2014-01-06,461.099640,464.618225,458.399333,463.963613,603727,-0.002655,NaN
2014-01-07,457.376465,463.063507,454.962535,460.690481,605461,-0.008075,NaN

In [21]:
price["vol_60d"] = price["ret"].rolling(60).std()
price.head()

Price,Close,High,Low,Open,Volume,ret,vol_30d,vol_60d
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,,,
Date,,,,,,,,
2014-01-01,468.341400,470.018910,465.845662,466.950367,251204,NaN,NaN,NaN
2014-01-02,460.199554,471.123545,457.090058,467.236725,531660,-0.017384,NaN,NaN
2014-01-03,462.327026,464.290913,456.639985,458.235637,1018173,0.004623,NaN,NaN
2014-01-06,461.099640,464.618225,458.399333,463.963613,603727,-0.002655,NaN,NaN
2014-01-07,457.376465,463.063507,454.962535,460.690481,605461,-0.008075,NaN,NaN

In [22]:
# --- RETURNS ---
price["ret_1d"] = price["Close"].pct_change()

price["ret_1m"] = price["Close"].pct_change(21)     # ~1 month
price["ret_3m"] = price["Close"].pct_change(63)     # ~3 months

# --- VOLATILITY ---
price["vol_30d"] = price["ret_1d"].rolling(30).std()
price["vol_60d"] = price["ret_1d"].rolling(60).std()

# --- VOLUME FEATURES ---
price["avg_vol_30d"] = price["Volume"].rolling(30).mean()
price["avg_vol_5d"] = price["Volume"].rolling(5).mean()

price["abnormal_volume"] = price["avg_vol_5d"] / price["avg_vol_30d"]

price.tail()

Price,Close,High,Low,Open,Volume,ret,vol_30d,vol_60d,ret_1d,ret_1m,ret_3m,avg_vol_30d,avg_vol_5d,abnormal_volume
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,,,,,,,,,
Date,,,,,,,,,,,,,,
2024-12-24,2293.217529,2314.229552,2288.848235,2288.848235,683646,-0.001432,0.013117,0.013114,-0.001432,-0.054988,-0.219849,1.749583e+06,1292770.8,0.738902
2024-12-26,2290.468262,2299.403418,2282.564122,2289.977324,1033769,-0.001199,0.013093,0.013112,-0.001199,-0.059072,-0.200185,1.744856e+06,1301844.0,0.746104
2024-12-27,2298.814209,2303.134362,2286.049838,2300.532490,556816,0.003644,0.013000,0.013146,0.003644,-0.058567,-0.196836,1.709276e+06,1082024.2,0.633031
2024-12-30,2301.023438,2316.389681,2282.858755,2299.059688,924180,0.000961,0.012996,0.013116,0.000961,-0.048209,-0.206065,1.698014e+06,852922.0,0.502306
2024-12-31,2284.675537,2310.007716,2281.140692,2297.587095,1878762,-0.007105,0.011834,0.013093,-0.007105,-0.067824,-0.206431,1.679193e+06,1015434.6,0.604716

In [ ]:
# reset index to get Date as column
price_q = price.reset_index()

# create quarter column
price_q["quarter"] = price_q["Date"].dt.to_period("Q").astype(str)

# aggregate to quarterly (pre-earnings snapshot)
market_quarterly = price_q.groupby("quarter").agg({
    "ret_1m": "last",
    "ret_3m": "last",
    "vol_30d": "last",
    "vol_60d": "last",
    "abnormal_volume": "last",
    "Close": "last",
    "Volume": "mean"
}).reset_index()

market_quarterly.head()

In [23]:
# flatten multi-index columns
price.columns = price.columns.get_level_values(0)

price.head()

Price,Close,High,Low,Open,Volume,ret,vol_30d,vol_60d,ret_1d,ret_1m,ret_3m,avg_vol_30d,avg_vol_5d,abnormal_volume
Date,,,,,,,,,,,,,,
2014-01-01,468.341400,470.018910,465.845662,466.950367,251204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-02,460.199554,471.123545,457.090058,467.236725,531660,-0.017384,NaN,NaN,-0.017384,NaN,NaN,NaN,NaN,NaN
2014-01-03,462.327026,464.290913,456.639985,458.235637,1018173,0.004623,NaN,NaN,0.004623,NaN,NaN,NaN,NaN,NaN
2014-01-06,461.099640,464.618225,458.399333,463.963613,603727,-0.002655,NaN,NaN,-0.002655,NaN,NaN,NaN,NaN,NaN
2014-01-07,457.376465,463.063507,454.962535,460.690481,605461,-0.008075,NaN,NaN,-0.008075,NaN,NaN,NaN,602045.0,NaN

In [24]:
# reset index to get Date as column
price_q = price.reset_index()

# create quarter column
price_q["quarter"] = price_q["Date"].dt.to_period("Q").astype(str)

# aggregate to quarterly (pre-earnings snapshot)
market_quarterly = price_q.groupby("quarter").agg({
    "ret_1m": "last",
    "ret_3m": "last",
    "vol_30d": "last",
    "vol_60d": "last",
    "abnormal_volume": "last",
    "Close": "last",
    "Volume": "mean"
}).reset_index()

market_quarterly.head()

Price,quarter,ret_1m,ret_3m,vol_30d,vol_60d,abnormal_volume,Close,Volume
0,2014Q1,0.091573,NaN,0.009345,0.010501,1.296307,495.508270,1.246775e+06
1,2014Q2,0.040363,0.046521,0.019365,0.017466,0.548387,513.635498,1.391475e+06
2,2014Q3,0.007563,0.202547,0.010194,0.011622,1.064584,617.670837,1.046513e+06
3,2014Q4,-0.060038,0.032795,0.012928,0.013269,1.014863,634.549438,9.185930e+05
4,2015Q1,-0.015330,0.151150,0.019487,0.021895,1.249447,729.260132,2.104629e+06

In [25]:
market_quarterly["company"] = "HUL"
market_quarterly.head()

Price,quarter,ret_1m,ret_3m,vol_30d,vol_60d,abnormal_volume,Close,Volume,company
0,2014Q1,0.091573,NaN,0.009345,0.010501,1.296307,495.508270,1.246775e+06,HUL
1,2014Q2,0.040363,0.046521,0.019365,0.017466,0.548387,513.635498,1.391475e+06,HUL
2,2014Q3,0.007563,0.202547,0.010194,0.011622,1.064584,617.670837,1.046513e+06,HUL
3,2014Q4,-0.060038,0.032795,0.012928,0.013269,1.014863,634.549438,9.185930e+05,HUL
4,2015Q1,-0.015330,0.151150,0.019487,0.021895,1.249447,729.260132,2.104629e+06,HUL

In [26]:
# keep only HUL fundamentals
fund_hul = fundamentals[fundamentals["company"] == "HUL"]

# merge fundamentals + market data
hul_merged = fund_hul.merge(
    market_quarterly,
    on=["company", "quarter"],
    how="left"
)

hul_merged.head()

,quarter,eps,revenue,pat_margin,ebitda,ebitda_margin,pat,company,ret_1m,ret_3m,vol_30d,vol_60d,abnormal_volume,Close,Volume
0,2015Q4,4.42,7605.82,12.78,1495.64,19.66,971.66,HUL,0.035217,0.112900,0.011575,0.011079,0.645714,733.915039,1.192909e+06
1,2016Q1,5.07,7585.00,14.69,1624.00,21.41,1114.00,HUL,0.023062,0.013522,0.016445,0.016875,1.267231,739.656982,1.381336e+06
2,2016Q2,5.33,7987.00,14.70,1814.00,22.71,1174.00,HUL,0.062349,0.054334,0.012125,0.012643,0.779128,772.805237,1.454682e+06
3,2016Q3,4.98,7697.00,14.24,1676.00,21.77,1096.00,HUL,-0.061581,-0.018047,0.011655,0.011601,1.632360,746.401428,1.183194e+06
4,2016Q4,4.72,7512.00,13.82,1591.00,21.18,1038.00,HUL,-0.025646,-0.060674,0.011115,0.011254,0.905057,716.706421,1.225166e+06

In [27]:
all_market = []

for company, ticker in ticker_map.items():
    price = yf.download(
        ticker,
        start="2014-01-01",
        end="2025-01-01",
        progress=False
    )

    # flatten columns
    price.columns = price.columns.get_level_values(0)

    # returns
    price["ret_1d"] = price["Close"].pct_change()
    price["ret_1m"] = price["Close"].pct_change(21)
    price["ret_3m"] = price["Close"].pct_change(63)

    # volatility
    price["vol_30d"] = price["ret_1d"].rolling(30).std()
    price["vol_60d"] = price["ret_1d"].rolling(60).std()

    # volume
    price["avg_vol_30d"] = price["Volume"].rolling(30).mean()
    price["avg_vol_5d"] = price["Volume"].rolling(5).mean()
    price["abnormal_volume"] = price["avg_vol_5d"] / price["avg_vol_30d"]

    # quarterly aggregation
    price_q = price.reset_index()
    price_q["quarter"] = price_q["Date"].dt.to_period("Q").astype(str)

    market_q = price_q.groupby("quarter").agg({
        "ret_1m": "last",
        "ret_3m": "last",
        "vol_30d": "last",
        "vol_60d": "last",
        "abnormal_volume": "last"
    }).reset_index()

    market_q["company"] = company
    all_market.append(market_q)

market_all = pd.concat(all_market, ignore_index=True)
market_all.head()

HTTP Error 404: {"quoteSummary":{"result":null,"error":{"code":"Not Found","description":"Quote not found for symbol: TATACONS.NS"}}}
$TATACONS.NS: possibly delisted; no timezone found

1 Failed download:
['TATACONS.NS']: possibly delisted; no timezone found

Price quarter    ret_1m    ret_3m   vol_30d   vol_60d  abnormal_volume company
0      2014Q1  0.091573       NaN  0.009345  0.010501         1.296307     HUL
1      2014Q2  0.040363  0.046521  0.019365  0.017466         0.548387     HUL
2      2014Q3  0.007563  0.202547  0.010194  0.011622         1.064584     HUL
3      2014Q4 -0.060038  0.032795  0.012928  0.013269         1.014863     HUL
4      2015Q1 -0.015330  0.151150  0.019487  0.021895         1.249447     HUL

In [28]:
final_dataset = fundamentals.merge(
    market_all,
    on=["company", "quarter"],
    how="left"
)

final_dataset.head()

,quarter,eps,revenue,pat_margin,ebitda,ebitda_margin,pat,company,ret_1m,ret_3m,vol_30d,vol_60d,abnormal_volume
0,2016Q1,0.00,2212.71,2.96,154.58,6.99,65.56,AVENUE,NaN,NaN,NaN,NaN,NaN
1,2016Q2,0.00,2652.39,4.47,239.66,9.04,118.45,AVENUE,NaN,NaN,NaN,NaN,NaN
2,2016Q3,0.00,2778.73,4.16,240.89,8.67,115.65,AVENUE,NaN,NaN,NaN,NaN,NaN
3,2016Q4,0.00,3339.36,4.55,296.79,8.89,151.88,AVENUE,NaN,NaN,NaN,NaN,NaN
4,2017Q1,1.69,3110.64,3.11,217.60,7.00,96.67,AVENUE,NaN,NaN,NaN,NaN,NaN

In [ ]:
# extract quarter number (Q1, Q2, ...)
final_dataset["qtr"] = final_dataset["quarter"].str[-2:]

# create quarter dummies
final_dataset = pd.get_dummies(
    final_dataset,
    columns=["qtr"],
    drop_first=True
)

final_dataset.head()

In [ ]:
final_dataset["covid_dummy"] = (
    (final_dataset["quarter"] >= "2020Q1") &
    (final_dataset["quarter"] <= "2021Q2")
).astype(int)

final_dataset[["quarter", "covid_dummy"]].drop_duplicates().head(10)

In [32]:
final_dataset_clean = final_dataset.dropna().reset_index(drop=True)
final_dataset_clean.shape

(712, 13)

In [33]:
final_dataset_clean.to_csv(
    "final_ml_dataset.csv",
    index=False
)

In [34]:
final_dataset_clean.columns

Index(['quarter', 'eps', 'revenue', 'pat_margin', 'ebitda', 'ebitda_margin',
       'pat', 'company', 'ret_1m', 'ret_3m', 'vol_30d', 'vol_60d',
       'abnormal_volume'],
      dtype='object')